{% extends "@PrestaShop/Admin/layout.html.twig" %}
{% block content %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Title</th>
            <th>Content</th>
            <th>Grade</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for youtubeComment in youtubeComments %}
            <tr>
                <td>{{ youtubeComment.productId }}</td>
                <td>{{ youtubeComment.customerName }}</td>
                <td>{{ youtubeComment.title }}</td>
                <td>{{ youtubeComment.content }}</td>
                <td>{{ youtubeComment.grade }}</td>
                <td>
                    <a href="{{ path('symfonymodule_youtube_update', {id: youtubeComment.id}) }}" class="btn btn-primary">Updata</a>
                    <a href="{{ path('symfonymodule_youtube_delete', {id: youtubeComment.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}